@use "../../global";

.userContentContainer {

  .userProfileHeader{
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background: global.$primaryColor;
    
    .fullHeaderContainer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 5px 10px 5px 5px;
      background: global.$primaryColor;
    }

    nav {
      border-bottom: 1px solid global.$logoColor;
      border-top: 1px solid global.$logoColor;
      ul {
        display: flex;
        padding: 0;
        justify-content: space-between;
        transition: .2s all;

        li {
          list-style-type: none;
          height: 100%;
          font-weight: bold;
          cursor: pointer;
          display: flex;
          margin: 5px 0 5px 0;


          a{
            color: global.$secondaryColor;
            text-decoration: none;
            // background: green;
            padding: 15px;

          }
        }

        .active {
          color: global.$logoColor;
          border-bottom: 2px solid global.$logoColor;
          background-color: #220000;
        }
      }
    }
  }
}