@use "../global";

$imgContainerWidth: 70px;
$imgWidth: calc(#{$imgContainerWidth} - 20px);

.createPostContainer{
  min-height: 107px;
  width: 598px;
  background-color: global.$primaryColor;
  padding: 10px;
  border-bottom: 1px solid global.$homeBordersColor;
  position: fixed;
  top: 0;


  .newTextContainer{
    height: 75%;
    display: flex;

    .imgContentContainer {
      height: 100%;
      width: $imgContainerWidth;
      padding: 10px;

      .imgContainer {
        height: $imgWidth;
        width: $imgWidth;
  
        img {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          object-fit: cover;
          }
        }
    }

    

    .textInputContainer {
      height: fit-content;
      width: calc(100% - #{$imgContainerWidth} - #{$imgContainerWidth} + 10px);
      background-color: global.$primaryColor;

      .textareaContainer{
        margin-top: 15px;
        width: 100%;

        .textAreaPlaceholder {
          color: #cccccc;
          }

        .textarea {
          width: 100%;
          color: #eeeeee;
          outline: none;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1.5rem;
          display: inline-block;
          padding-bottom: 10px;
          border-bottom: 1px dotted global.$logoColor;
          }

          .textarea:empty::before {
            content: attr(data-placeholder);
            display: inline-block;
            color: #aaaaaa;
          }
        .textarea:empty:focus::before {
          color: #aaaaaa;                
          content: attr(data-placeholder);
        }
        }

        
        .insertContainer {
          padding: 5px;
          display: flex;
          align-items: center;
          // background-color: red;
        } 

        .iconsContainer{
          display: flex;
          width: calc(100% - 100px);
          display: flex;
          align-items: center;

          .iconContainer {
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            justify-content: center;
            padding: 3px;
            border-radius: 50%;
            margin-right: 10px;
            border: 2px solid gray;
            cursor: pointer;
            
            svg {
              height: 100%;
              width: 100%;
            }
          }
        }

        .postBtnContainer {
          width: 90px;
          height: 30px;
          margin-left: 5px;
          padding-left: 10px;

          button {
            height: 100%;
            width: 80px;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            background-color: global.$logoColor;
          }
        }
      }
    }
  }
