@use "../global";
$fontColor: #dddddd;

@mixin floatingSideContainer {
  border-radius: 5px;
}

.nav {
  @include floatingSideContainer();
  margin-top: 10px;
  ul {
    padding: 0;
    li {
      list-style-type: none;
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      .navIconContainer {
        width: 20px;
        margin-right: 10px;

      svg {
        height: 100%;
        width: 100%;
        fill:white;
      }
    }

      a{
        text-decoration: none;
        color: $fontColor;
        display: flex;
        align-items: center;
        border-radius: 30px;
        font-family: 'Noto Serif Telugu', serif;
        font-size: 1.5rem;
        padding: 15px 30px 10px 25px;


        span {
          // display: none;
        }
      }

      a:hover {
        background-color: global.$primaryColorHover;
      }

      .active {
        color: global.$secondaryColor;
        // background-color: global.$activeColor;
        svg {
          fill: global.$secondaryColor;
        }
      }

      .active:hover {
        background-color: global.$activeColor;
      }

    }
  }

}