@use "../global";

.post:hover {
  background-color: global.$primaryPostColorHover;
}

.post {
  height: fit-content;
  background-color: global.$primaryColor;
  width: 100%;
  padding: 10px 0 10px 0;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #555555;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  .postImgContentContainer {
    width: 70px;
    display: flex;
    justify-content: center;
    margin-right: 10px;

    .postImgContainer {
      height: 70px;
      width: 100%;
      padding:0 10% 20%  10%;

      a {
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 50%;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

    }
  }

  .postContentContainer {
    width: 70%;
    height: fit-content;

    .postUserInfoContainer {
      display: flex;

      a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: flex-end;
        font-size: 1.05rem;

        .postUser {
          margin-right: 5px;
          font-weight: bolder;
        }

        .postUserName {
          color: #aaaaaa;
        }
      }
    }

    .postInfoContainer {
      .postContent {
        border-bottom: 1px solid red;
        margin-bottom: 5px;
        padding-bottom: 5px;
        color: global.$postFontColor;

        .postImgContainer {
          width: 100%;
          padding-top: 5px;

          img {
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
          }
        }
      }

      .postSrcInfoContainer {
        color: #aaaaaa;
        font-size: 0.9rem;
      }
    }
  }
}
