@use "sideStyles";
@use "../global";

.rightSide {
  @include sideStyles.sidesStyles;
  border-left: 1px solid global.$homeBordersColor;
  max-width: 350px;
  width: 350px;
  height: 100vh;

  .rightContentContainer {
    .asideContainer {
      background-color: global.$primaryPostColorHover;
      height: 500px;
      border-radius: 20px;
    }
  }

  .rightUserContainer {
    position: absolute;
    width: 100%;
    bottom: 10px;
    border: 1px solid global.$logoColor;
    padding: 10px;
    border-radius: 40px;
    display: flex;

    .rightUserImgContainer {
      height: 50px;
      width: 50px;

      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }

    .rightUserNamesContainer {
      margin-left: 8px;
      height: 50px;
      display: flex;
      flex-direction: column;
      color: white;
      justify-content: center;

      .rightUserName {
        font-weight: bold;
      }
      .rightUserUsername {
        color: #bbb;
      }
    }
  }
}

@media only screen and (max-width: 1225px) {
  .rightSide {
    display: none;
  }
}
