@use "../../global";

.followingHeader {
  color: global.$secondaryColor;
  width: 100%;
  border-bottom: 1px global.$logoColor solid;
  padding: 10px;
  display: flex;
  height: 100px;
  flex-direction: column;


  .followingHeaderInfo{
    display: flex;
    height: 50%;
    h2 {
      text-transform: capitalize;
      }
   }

    nav {
      height: 50%;
      
      ul{
        display: flex;
        width: 100%;
        justify-content: space-around;
        height: fit-content;

        li {
          list-style-type: none;
          padding: 10px;
          font-weight: bold;
          cursor: pointer;

          a {
            color: global.$secondaryColor;
            text-decoration: none;
            height: 100%;
            padding: 10px;
          }
        }

        .active {
          color: global.$logoColor;
          border-bottom: 2px solid global.$logoColor;
          background-color: #220000;
        }
    }
  }


  .profileBackBtnContainer {
    height: .1rem;
    svg {
      height: 1.875rem;
      width: 1.875rem;
      fill: global.$logoColor;
    }
  }
}

.followingContainer {
  .userFollower {
    display: flex;
    border-bottom: #777777 1px solid;
    align-items: center;
    padding: 10px;

    .userInfoImgContainer {
      height: 50px;
      width: 50px;
      margin-right: 10px;

      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .userInfoContainer {
      .userNameInfo{
        display: flex;
        h3 {
          font-size: 1rem;
          color: white;
          margin-right: .2em;
        }

        span {
          color: #aaaaaa;
        }
      }

      .descriptionContainer {
        p {
          color: #777777;
        }
      }
    }
  }
}